/* 页脚样式 */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    padding: 10px;
    color: white;
    height: 50px;
}

#realtime-clock {
    font-size: 24px;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-right: 10px;
}