/* 搜索表单样式 */
form {
    margin-top: 2px;
    display: flex;
    align-items: center;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 75%;
}

#like {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    margin-left: 5px;
}

#like:hover {
    background-color: #45a049;
}
