form {
    margin-top:2px ; /* 表单的外边距 */
}

input[type="text"] {
    padding: 10px; /* 输入框内边距 */
    font-size: 16px; /* 输入框字体大小 */
    border: 1px solid #ccc; /* 输入框边框 */
    border-radius: 4px; /* 输入框圆角 */
    width: 75%; /* 输入框宽度 */
}

#like {
    padding: 10px; /* 按钮内边距 */
    font-size: 16px; /* 按钮字体大小 */
    border: 1px solid #ccc; /* 按钮边框 */
    border-radius: 4px; /* 按钮圆角 */
    background-color: #4CAF50; /* 按钮背景颜色 */
    color: white; /* 按钮文本颜色 */
    cursor: pointer; /* 鼠标悬停时的指针样式 */
    margin-left: 5px; /* 按钮与输入框之间的外边距 */
}

#like:hover {
    background-color: #45a049; /* 鼠标悬停时的按钮背景颜色 */
}
#realtime-clock {
            font-size: 24px;
            font-family: Arial, sans-serif;
     text-align: left;
        border-width: 2px;
    border-style: solid; /* 边框样式，可以是 solid, dashed, dotted 等 */
    border-color: black; /* 边框颜色 */
    margin-right:10%;
    margin-left:10px;
    }

/* 响应式设计 */
@media (max-width: 768px) {
    input[type="text"], button {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    input[type="text"], button {
        padding: 8px;
        font-size: 14px;
    }
}