<ul>{list-style-type: none;
     }
<style type="text/css">
#nav {
margin: 50px auto;
height：40px;
background-color：#690;
}
#nav ul (
list-style: none;
margin-left: 50px;
}
#nav li {
display: inline;
}
#nav li {
line-height: 40px；
color: #fff;
text-decoration: none;
padding: 20px 20px；
#nav a:hover {
background-color:#060;
</style>
