/* 基本样式 */
body {
    background: linear-gradient(to right, yellow, green) no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* 内容样式 */
#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    padding: 20px;
    flex-grow: 1;
}

/* 文章简介样式 */
#post-preview {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    max-width: 800px;
}

/* 页脚样式 */
#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    padding: 10px;
    color: white;
    height: 50px;
}